<div class="container password-container">
  <div class="col-md-6 password-form-1">
    <h1 class="text-center">Esqueci a minha senha</h1>
    <form [formGroup]="passwordForm">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Nova Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Nova Senha">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="voltarParaLogin()">Voltar para o Login</button>
        </div>
    </form>
  </div>
</div>
